$body-bg-color: #0d1914;
$box-bg-color: rgb(26, 30, 21);
$bg-color: rgb(27, 33, 22);
$border-color: rgb(96, 95, 95);
$border-bg-color: #1a3028;
$info-border-color: #286f55e5;
$head-color: #7b9085;
$logo-color:#2b8e6ae5;
$start-color: rgb(245, 245, 245);
$text-color: #97b6a5;
$main-color: lightgray;
$nr-color: #DD5B0C;
$text-font: "karla", sans-serif;
$rubrik-font: "Big Shoulders", sans-serif;
$siffror-font: "fragment Mono", sans-serif;
$mobil: 768px;